{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Search results{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item">Search</li>
      </ol>
    </nav>

    <h2>Query: <span class="pgs_title">{{ query }}</span></h2>

    {% if table_scores or table_publications %}
      <div class="mt-4">
        <span class="search_facet selected" id="scores_facet">
          <i class="fa fa-check-circle"></i>
          <div>Scores</div>
          <span class="badge badge-pill badge-pgs">{{ scores_count }}</span>
        </span>
        <span class="search_facet" id="efo_traits_facet">
          <i class="fa fa-circle-o"></i>
          <div>Traits</div>
          <span class="badge badge-pill badge-pgs">{{ efo_traits_count }}</span>
        </span>
        <span class="search_facet" id="publications_facet">
          <i class="fa fa-circle-o"></i>
          <div>Publications</div>
          <span class="badge badge-pill badge-pgs">{{ publications_count }}</span>
        </span>
      </div>

      {% if table_scores %}
        <div class="table_results" id="scores_results">
          <h3>Scores</h3>
          <div class="table-container">
            <section>
              {% render_table table_scores %}
            </section>
          </div>
        </div>
      {% endif %}

      {% if table_efo_traits %}
        <div class="table_results" id="efo_traits_results">
          <h3>Traits</h3>
          <div class="table-container">
            <section>
              {% render_table table_efo_traits %}
            </section>
          </div>
        </div>
      {% endif %}

      {% if table_publications %}
        <div class="table_results" id="publications_results">
          <h3>Publications</h3>
          <div class="table-container">
            <section>
              {% render_table table_publications %}
            </section>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div>No results found</div>
    {% endif %}


{% endblock %}
